<!-- Page-wide custom CSS -->
{{ amsf_page_css }}

<!-- Article wrapper, limit width -->
<article lang="{{ amsf_page_lang }}">

  <!-- Page title -->
  <header {{ amsf_page_heading_bg }}>

    <h1 class="{{ amsf_page_heading_class }}" title="{{ amsf_page_title | strip_html | xml_escape }}" data-title="{{ amsf_page_title | strip_html | xml_escape }}">
      {{ amsf_page_heading }}
    </h1>

    {% if page.updated_on %}
      
	      <h3 style="margin-top: 2%; margin-bottom: 10%;">
	      		Click <a href="https://drive.google.com/file/d/1kKvJuhGkZ1KQSA0sOTwamuER2bG8i3C6/view?usp=sharing">here</a> to download PDF version . ダウンロード 履歴書
.<br>
	      		Last updated on : {{ page.updated_on }}
	      </h3>
	  
    {% endif %}

    <div>
    	{{ content }}
    </div>

  </header>


</article>





